.Review {
    margin: 0 var(--pc-display-side-margin);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.Review > .info {
    margin-bottom: 20px;
    font-family: var(--font-gugi);
}

/* review 작성 */
.Review .ReviewEdit {
    width: 80%;
    max-width: 1200px;
    font-size: 18px;
}
.Review .ReviewEdit .item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.Review .ReviewEdit .item.button {
    display: flex;
    justify-content: end;
}
.Review .ReviewEdit .item .title {
    width: 100px;
    font-family: var(--font-gugi);
    font-weight: bold;
}
.Review .ReviewEdit .item textarea {
    width: calc(100% - 100px);
}
.Review .ReviewEdit .item .star_area span {
    margin-right: 2px;
    cursor: pointer;
}

/* review 리스트 */
.Review .ReviewItem {
    width: 80%;
    max-width: 1200px;
    font-size: 18px;
}
.Review .ReviewItem .container {
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.Review .ReviewItem .control_menu {
    display: flex;
    justify-content: end;
    margin: 20px 0;
}
.Review .ReviewItem .control_menu select {
    padding: 5px 2px;
    border: none;
    border-radius: 5px;
    font-family: var(--font-gugi);
}
.Review .ReviewItem .list .item {
    padding: 20px 0;
}
.Review .ReviewItem .list .item:not(:last-child) {
    border-bottom: 1px solid #fff;
}
.Review .ReviewItem .list .item .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.Review .ReviewItem .list .item .nick {
    font-weight: bold;
}
.Review .ReviewItem .list .item .date {
    font-size: 15px;
}
.Review .ReviewItem .list .item .middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.Review .ReviewItem .list .item .middle button {
    margin-left: 3px;
}
.Review .ReviewItem .list .item .bottom {
    white-space: pre-line;
    font-size: 16px;
    line-height: 1.1;
}

/* Mobile */
@media screen and (max-width: 970px) {
    .Review .ReviewEdit {
        width: 100%;
        margin-bottom: 30px;
    }
    .Review .ReviewEdit .item {
        text-align: left;
    }
    .Review .ReviewEdit .item .title {
        width: 80px;
    }
    .Review .ReviewEdit .item input,
    .Review .ReviewEdit .item textarea {
        width: calc(100% - 80px);
    }
    .Review .ReviewEdit .item.button {
        justify-content: center;
    }
    .Review .ReviewEdit .item.button .button {
        width: 100%;
    }

    .Review .ReviewItem {
        width: 100%;
    }
    .Review .ReviewItem .list .item .middle img {
        width: 18px;
        height: 18px;
    }
    .Review .ReviewItem .list .item .middle button {
        font-size: 12px;
    }
    .Review .ReviewItem .list .item .bottom {
        text-align: left;
    }
}
